<!DOCTYPE html>
<html>
<head>
  <title>Add Item</title>
  <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
  <div class="card">
    <h2>Add Found Item</h2>
    <form method="post" action="/add-item" enctype="multipart/form-data">
      <input name="item_name" placeholder="Item Name" required>
      <input name="color" placeholder="Color" required>
      <input name="location_found" placeholder="Found Location" required>
      <input type="file" name="image">
      <button type="submit">Save Item</button>
    </form>
  </div>
</body>
</html>
